<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="tennis_bat4">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00064094 -0.0095677 0.0039379"
        rpy="0 0 0" />
      <mass
        value="0.25973" />
      <inertia
        ixx="0.00078665"
        ixy="-6.4222E-11"
        ixz="-1.6983E-12"
        iyy="0.00038569"
        iyz="8.9552E-11"
        izz="0.0011723" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tennis_bat4/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tennis_bat4/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>